/***************************RESPONSIVE DESIGN*************************/
@media only screen and (max-width: 460px) {
  .space .space__config {
    flex-direction: column;
  }
  .space .space__config__form {
    margin: 10px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}