/***************************MAIN GAME STYLES*************************/

// positioning different sections of the game screen
.space {
    gap: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    // generic styles for both spaceship and planets/stars
    &__collidable-object  {
        margin: 0 auto;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        border: 5px solid rgb(0, 0, 0);
        z-index: -1;
    }
    &__hidden {display: none;}
    
    #spaceship {background-color: rgb(1, 188, 245);}

    // styles for section containing update # of planets/stars form and scoreboard
    section {
        display: flex;
        align-items: center;
        justify-content: center;

        #frmGameConfig {
            display: flex;
            margin: 5px;
            gap: 10px;
            z-index: 4;
        }
    }
}