/***************************MAIN GAME STYLES*************************/
.space {
  gap: 100px;
}
.space__collidable-object {
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 5px solid black;
  z-index: -1;
}
.space__hidden {
  display: none;
}
.space #spaceship {
  background-color: #00d4ff;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-items: center;
}
.space #spaceship img {
  margin: 0 auto;
}
.space .space__config {
  margin: 2vw;
  flex-direction: column;
}
.space .space__config__form {
  z-index: 4;
}