/***************************MAIN GAME STYLES*************************/
.space {
  gap: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.space__collidable-object {
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 5px solid black;
  z-index: -1;
}
.space__hidden {
  display: none;
}
.space .space__config {
  margin: 2vw;
}
.space .space__config__form {
  z-index: 4;
  gap: 10px;
}