/***************************MAIN GAME STYLES*************************/

// positioning different sections of the game screen
.space {
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    // generic styles for both spaceship and planets/stars
    &__collidable-object  {
        margin: 0 auto;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        border: 5px solid black;
        z-index: -1;
    }
    &__hidden {display: none;}

    #spaceship
    {
        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-items: center;
        
        img {margin: 0 auto;}
    }

    // styles for section containing update # of planets/stars form and scoreboard
    .space__config {
        margin: 2vw;
        
        &__form {z-index: 4;}
    }
}