/***************************MAIN GAME STYLES*************************/
.space {
  gap: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space__collidable-object {
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 5px solid black;
  z-index: -1;
}
.space__hidden {
  display: none;
}
.space #spaceship {
  background-color: #01bcf5;
}
.space section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space section #frmGameConfig {
  display: flex;
  margin: 5px;
  gap: 10px;
  z-index: 4;
}