.space-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 98vh;
}

.collidable-object 
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: absolute;
}

#spaceship 
{
    background-color: rgb(1, 188, 245);
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
}

// .collision-state {background-color: green !important;}
.hidden {display: none;}