/***************************GENERIC PAGE STYLES*************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #464242;
  color: white;
  font-weight: bold;
}

/***************************MAIN GAME STYLES*************************/
.space {
  gap: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space__collidable-object {
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 5px solid black;
  z-index: -1;
}
.space__hidden {
  display: none;
}
.space #spaceship {
  background-color: #01bcf5;
}
.space section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space section #frmGameConfig {
  display: flex;
  margin: 5px;
  gap: 10px;
  z-index: 4;
}

/***************************RESPONSIVE DESIGN*************************/
@media only screen and (max-width: 460px) {
  .space section {
    flex-direction: column;
  }
  .space section #frmGameConfig {
    margin: 10px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}