.space-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 98vh;
}
.space-container .collidable-object {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
}
.space-container #spaceship {
  background-color: #01bcf5;
  height: 20px;
  width: 20px;
  left: 50%;
  top: 50%;
}
.space-container .hidden {
  display: none;
}